@{
    ViewBag.Title = "Our Services";
}
<h2>Our Services</h2>
<hr />

<div class="row">
    We provide the following services:
    1.	Assist arrange and conduct funerals
    2.	Planning for the eventuality – death (Wills, Life and funeral policy management , other arrangements)
    3.	Assist distribute the deceased’s assets and management of liabilities.
    Assist arrange and conduct funerals
    As a web-based funeral organising organisation, we assist people arrange their ideal funeral even whilst away, at a click of a button.
    Go online at www.funeralarangements.co.za, or speak to one of our consultants.


    How does it all work?
    People who need assistance with the hustle-free arrangement can visit our website on www.funeralarangements.co.za, visit one of our branches or speak to one of our consultants for assistance with the online application.
    New clients:
    Once online, please register yourself – by clicking on Register
    When you have registered and created your confidential password, your profile will be created and only accessible by you.
    You will then have options on the type of funeral you wish for us to help you with, and a comment section to request anything else you need which is not on the options list.
    As you select, your choices you will see a corresponding cost for choices over and above the standard nominated funeral plan. Once satisfied, click submit for your application to reach our administration team.
    Our administration team will be in contact with you within a day. Once you give a go ahead, they will instruct a parlour nearest to the destination of the funeral. A dedicated funeral consultant will be appointed, who is the go to person for the entire arrangement.
    The Funeral Consultant will be responsible to ensure that all the selected options are delivered within 72 hours of appointment. These include amongst other; repatriation, erection of tent(s), organising chairs, purchasing food etc.
    On the funeral date, the funeral consultant will remain onsite for any support necessary. Example; if food supplies runs-out – He/she will (in consultation with you and the administration office) arranges to buy more. There are variety of payment method that we use depending on your preferred means; the funeral consultant can use your cash onsite, He/she can use credits out of the online application at www.puremoney.co.za etc.
    The funeral consultant carries one of our credit cards to ensure a smooth arrangement of funeral.
    At the end of the event and once all requests have been fulfilled, the funeral consultant will close your file, pack away any of the rental items and reconcile the cost vs payment with you onsite. Any monies due will be deposited to your account within 24 hours, similarly and monies due are payable as per your initial arrangement at application stage.
    Please rate our services at the end of the event.
    Existing clients
    Clients who have used our services before, will find it a “breeze” to engage with our consultants for further assistance. Simply log-in and request our services.
    Payment methods:
    EFT and CASH
    EFT and CASH payments can be made to our bank accounts based on the invoice of items you select for your ideal funeral.
    Insurance claim pay-out
    Simply complete and sign the authorisation form for us to contact your insurer and facilitate claims pay out to enable us to arrange the funeral of your choice.
    Don’t have cash? Loan assistance
    Please visit www.puremoney.co.za, they will assist you with cash advance.

    Planning for the eventuality – Death
    We assist our clients to put in place clear instruction of their wish after death. This include clear transparent list of beneficiaries of their investments, % / proportion of distribution etc.
    Most of us are paying policies we don’t even know exist; example:
    	covers granted as a result of cell phone purchase,
    	covers granted as a result of airtime purchase,
    	covers granted as a result of airline ticket,
    	covers granted as a result of train ticket,
    	covers granted as a result of member of an associate or union  and many others
    Some of us pay for policies only we know about (not even our spouses are in the know).
    Some of us do not know we do NOT have cover or enough cover to look after our funeral, and loved ones after death.
    Funeral Arrangements assist in establishing and keeping record of your insurance policies, and manage this and communicate to rightful persons after death.

    Assist distribute the deceased’s assets and management of liabilities.
    We assist find any form of asset and investments or liabilities that the deceased may have left behind. These are distributed and or paid as instructed by the client before his or her death.

</div>